table {
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    border-top-width: lpx;
    border-style: solid;
    border-color: #333;
    display: inline-block; /* dispone los elementos (tablas) de izquierda a derecha */

}

th,
td {
    padding: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333;
    border: 1px solid black; /* explicita las lineas de los bordes de la celda */
}

th{
    background-color: #E2E2E2;
}
td{
    background-color: #F0F0F0;
}






